Repository dictation-toolbox/Caster, pull requests merged in 2018-10, with the labels that each got.

#266 Add Total Commander rule
  caster/apps/totalcmd.py
  caster/lib/settings.py
Labels: Caster, Complete, New Grammar

#268 Documented python comments are supported in rule filter files #265.
  caster/doc/readthedocs/examples/rules/Caster Rules.MD
Labels: Caster, Complete, Documentation

#277 Added a LaTeX ccr module
  caster/doc/readthedocs/CCR languages quick reference.md
  caster/lib/ccr/__init__.py
  caster/lib/ccr/latex/__init__.py
  caster/lib/ccr/latex/latex.py
Labels: New Grammar

#270 Reworked CodeBase to reflect simplified alias command.
  _caster.py
  caster/doc/readthedocs/Alias.MD
  caster/doc/readthedocs/CCR.MD
  caster/lib/ccr/recording/alias.py
  caster/lib/tests/unit/mergerule.py
Labels: Caster, Complete, Documentation, Refactor

#281 Selfmodrule nonempty extras fix
  caster/lib/dfplus/merge/selfmodrule.py
Labels: Bug

#276 Update Voice Index Documentation
  caster/doc/readthedocs/Voice Index.MD
Labels: Complete, Documentation

#282 Detect browser dynamically
  caster/lib/dev/dev.py
  caster/lib/settings.py
  caster/lib/utilities.py
Labels: Caster, New Feature

#264 Updated Caster dependencies .bat files
  caster/bin/inno/dependencies/Pip Install Dependencies.bat
  caster/bin/inno/dependencies/Pip Uninstall Dependencies.bat
Labels: Complete, Documentation, Enhancement, Installation, Testing Required

#287 Hide or fix pylint errors
  .pylintrc
  caster/apps/eclipse.py
  caster/asynch/hmc/homunculus.py
  caster/lib/navigation.py
  caster/lib/utilities.py
Labels: Caster, Enhancement

#289 Adds requeriments.txt for Github Dependency Graph
  requeriments.txt
Labels: Complete, New Feature

#269 Replace Json for Toml in Caster.
  .gitignore
  caster/bin/inno/dependencies/Pip Install Dependencies.bat
  caster/doc/readthedocs/CCR.MD
  caster/doc/readthedocs/examples/rules/Caster Rules.MD
  caster/lib/ccr/python/python.py
  caster/lib/ccr/recording/alias.py
  caster/lib/ccr/recording/history.py
  caster/lib/dfplus/merge/ccrmerger.py
  caster/lib/navigation.py
  caster/lib/settings.py
  caster/lib/tests/complexity.py
  caster/lib/utilities.py
Labels: Complete, Enhancement

#283 Cleaning up the R module
  caster/doc/readthedocs/CCR languages quick reference.md
  caster/lib/ccr/r/r.py
Labels: Enhancement, Grammar, Refactor

#292 Hide or fix pylint errors
  .pylintrc
  caster/apps/eclipse.py
  caster/asynch/hmc/homunculus.py
  caster/lib/navigation.py
  caster/lib/utilities.py
Labels: Caster, Complete, Enhancement

#293 Settings.py cleanup
  .pylintrc
  caster/lib/settings.py
Labels: Caster, Complete, Enhancement

#296 Remove duplicate installed dependency
  caster/bin/inno/dependencies/Pip Install Dependencies.bat
Labels: Bug

#297 Hotfix doc strings in settings.py
  caster/lib/settings.py
Labels: Bug, Enhancement

#301 Detect browser dynamically
  caster/lib/dev/dev.py
  caster/lib/settings.py
  caster/lib/utilities.py
Labels: Caster, Enhancement

#273 Implemented Bring me command
  _caster.py
  caster/bin/share/bringme.toml.defaults
  caster/lib/ccr/recording/bringme.py
  caster/lib/settings.py
Labels: Caster, Complete, Documentation, New Feature

#303 Corrected indentation level in bringme.py
  caster/lib/ccr/recording/bringme.py
Labels: HotFix

#299 Migrate Quick Reference to LaTeX
  .gitignore
  CasterQuickReference0.5.7.pdf
  CasterQuickReference0.5.8.pdf
  caster/doc/caster_quick_reference.docx
  caster/doc/caster_quick_reference.tex
Labels: Enhancement, [WIP]

#308 Convert extensions from .MD to .md documentation markdown files.
  caster/doc/Contributing.md
  caster/doc/Intro.md
  caster/readthedocs/Alias.md
  caster/readthedocs/Application commands quick reference.md
  caster/readthedocs/Auto CCR and Cmd-Mode.md
  caster/readthedocs/CCR languages quick reference.md
  caster/readthedocs/CCR.md
  caster/readthedocs/ContextStack.md
  caster/readthedocs/Mouse.md
  caster/readthedocs/NodeRule.md
  caster/readthedocs/Record Macros.md
  caster/readthedocs/Setup.md
  caster/readthedocs/Sikuli.md
  caster/readthedocs/Taxonomy of a Rule.md
  caster/readthedocs/Voice Index.md
  caster/readthedocs/Windows Speech Recognition.md
  caster/readthedocs/examples/How to Speak Code.md
  caster/readthedocs/examples/Rule Construction.md
  caster/readthedocs/examples/rules/Caster Rules.md
  caster/readthedocs/examples/rules/Dragonfly Rules.md
  caster/readthedocs/examples/rules/Old Sample File.md
  caster/readthedocs/examples/speaking/examples1.md
  caster/readthedocs/meta/Undocumented Features.md
Labels: Caster, Complete, Documentation

#306 Converts ccr.toml [selfmod] as true instead of false.
  caster/lib/dfplus/merge/ccrmerger.py
Labels: Caster, Complete, Enhancement
