Repository dictation-toolbox/Caster, pull requests merged in 2018-11, with the labels that each got.

#315 Documentation Reformatted syntax and code blocks
  Index.md
  License.md
  ReadMe.md
  caster/bin/data/configdebug.txt
  caster/doc/Contributing.md
  caster/doc/Intro.md
  caster/doc/readthedocs/Alias.md
  caster/doc/readthedocs/Auto CCR and Cmd-Mode.md
  caster/doc/readthedocs/CCR languages Quick Reference.md
  caster/doc/readthedocs/CCR.md
  caster/doc/readthedocs/ContextStack.md
  caster/doc/readthedocs/Examples/How to Speak Code.md
  caster/doc/readthedocs/Examples/Rule Construction.md
  caster/doc/readthedocs/Examples/Speaking/Examples.md
  caster/doc/readthedocs/Examples/rules/Caster Rules.md
  caster/doc/readthedocs/Examples/rules/Dragonfly Rules.md
  caster/doc/readthedocs/Examples/rules/Old Sample File.md
  caster/doc/readthedocs/Mouse.md
  caster/doc/readthedocs/NodeRule.md
  caster/doc/readthedocs/Record Macros.md
  caster/doc/readthedocs/Setup.md
  caster/doc/readthedocs/Sikuli.md
  caster/doc/readthedocs/Taxonomy of a Rule.md
  caster/doc/readthedocs/Voice Index.md
  caster/doc/readthedocs/Windows Speech Recognition.md
  caster/doc/readthedocs/meta/Undocumented Features.md
  caster/readthedocs/Application Commands Quick Reference.md
  caster/readthedocs/CCR languages Quick Reference.md
  caster/readthedocs/examples/speaking/examples1.md
  caster/readthedocs/meta/Undocumented Features.md
Labels: Caster, Documentation

#317 Sublime updates
  caster/apps/sublime.py
  caster/doc/readthedocs/Application Commands Quick Reference.md
Labels: Enhancement, Grammar

#310 Add "splat" and "shift click" commands
  caster/lib/ccr/core/nav.py
Labels: Caster

#319 Latex Quick reference
  CasterQuickReference0.5.7.pdf
  CasterQuickReference0.5.8.pdf
  caster/doc/Caster_Quick_Reference.docx
  caster/doc/caster_quick_reference.tex
Labels: Documentation

#322 Punctuation - add "long" options to =, +, - symbols, add "tilde" commands
  CasterQuickReference0.5.8.pdf
  caster/doc/caster_quick_reference.tex
  caster/lib/ccr/core/punctuation.py
Labels: Caster Core Spec

#262 Add default format and secondary format
  caster/lib/ccr/core/nav.py
  caster/lib/ccr/dart/dart.py
  caster/lib/dfplus/merge/ccrmerger.py
  caster/lib/settings.py
  caster/lib/tests/testrunner.py
  caster/lib/tests/unit/merger.py
  caster/lib/tests/unit/textformat.py
  caster/lib/text_utils.py
  caster/lib/textformat.py
Labels: Caster, Documentation, New Feature, Testing Required

#326 Add complete spark formatting functionality
  caster/lib/ccr/core/nav.py
  caster/lib/navigation.py
Labels: Caster Core Spec

#328 Fixed bug introduced in #326
  caster/lib/alphanumeric.py
  caster/lib/ccr/core/alphabet.py
  caster/lib/ccr/core/nav.py
  caster/lib/ccr/latex/latex.py
Labels: Bug

#329 Settings window modified to distinguish between string lists and integer lists.
  caster/asynch/settingswindow.py
Labels: Bug

#332 Small docs update
  CasterQuickReference0.5.8.pdf
  ReadMe.md
  caster/doc/caster_quick_reference.tex
Labels: Documentation
