Repository dictation-toolbox/Caster, pull requests merged in 2019-07, with the labels that each got.

#622 Removed the shadowed dragon format command and added updated dra…
  castervoice/apps/dragon.py
  castervoice/doc/readthedocs/Application_Commands_Quick_Reference.md
Labels: Bug, Documentation, Removed, Spec

#602 new legion dll
  castervoice/doc/Installation.md
  castervoice/lib/dll/tirg-dll.dll
Labels: Caster, Enhancement

#620 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Caster, Meta, Roadmap

#614 Bring me updates
  CasterQuickReference.pdf
  castervoice/apps/file_dialogue.py
  castervoice/apps/gitbash.py
  castervoice/bin/share/bringme.toml.defaults
  castervoice/doc/CasterQuickReference.tex
  castervoice/lib/ccr/recording/bringme.py
  castervoice/lib/github_automation.py
Labels: Enhancement, Testing Required

#619 Added rules and filters to user directory
  castervoice/bin/share/FilterRules/modkeysup.py
  castervoice/bin/share/FilterRules/scen4.py
  castervoice/bin/share/Rules/decker.py
  castervoice/lib/ctrl/user.py
  castervoice/lib/dfplus/merge/gfilter.py
  castervoice/lib/settings.py
Labels: Caster, Complete, Enhancement, Roadmap

#626 Load word.txt from .caster\filters and documentation update
  Index.md
  MANIFEST.in
  castervoice/bin/share/FilterRules/words.txt
  castervoice/doc/index.md
  castervoice/doc/readthedocs/CCR.md
  castervoice/lib/ccr/recording/bringme.py
  castervoice/lib/dfplus/merge/gfilter.py
  castervoice/lib/settings.py
Labels: Complete, Documentation, Filter Rules, Refactor

#621 Create issue templates
  .github/ISSUE_TEMPLATE/ask-a-question.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Meta, Roadmap

#628 add a getting started page
  docs/CasterQuickReference.md
  mkdocs.yml
Labels: Documentation

#635 Simplify Caster mouse functions and use the Mouse action instead
  castervoice/lib/navigation.py
Labels: Aenea, Bug, Caster Core Spec, Refactor

#636 Add integers 1-3 to kick
  castervoice/lib/ccr/core/nav.py
  docs/readthedocs/Mouse.md
Labels: Caster Core Spec, Documentation Needed, Enhancement

#610 Classic install: Enhancements to check dependencies for required versions and missing dependencies.
  _caster.py
  castervoice/lib/ctrl/dependencies.py
Labels: Complete, Enhancement, Installation, Refactor, Roadmap

#585 Modifier keys
  castervoice/lib/ccr/core/nav.py
  castervoice/lib/ccr/voice_dev_commands/voice_dev_commands.py
  castervoice/lib/dll/tirg-dll.dll
  docs/CasterQuickReference.pdf
  docs/CasterQuickReference.tex
Labels: Caster Core Spec, Documentation Needed, New Feature

#593 Add tell commands for all punctuation
  castervoice/lib/ccr/core/nav.py
  castervoice/lib/navigation.py
Labels: Documentation Needed, New Feature

#637 Bring me for files and folders
  castervoice/lib/ccr/recording/bringme.py
  castervoice/lib/utilities.py
  docs/readthedocs/Bringme.md
  mkdocs.yml
Labels: Caster Core Spec, Complete, Enhancement

#640 fixed punctuation
  castervoice/lib/ccr/core/punctuation.py
Labels: Caster Core Spec, Enhancement

#633 add pr template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: Meta

#642 Make tests discoverable and not check for updates
  _caster.py
  castervoice/lib/ctrl/dependencies.py
  castervoice/lib/tests/testrunner.py
  castervoice/lib/tests/unit/test_filter.py
  castervoice/lib/tests/unit/test_merger.py
  castervoice/lib/tests/unit/test_mergerule.py
  castervoice/lib/tests/unit/test_node.py
  castervoice/lib/tests/unit/test_stack.py
  castervoice/lib/tests/unit/test_state.py
  castervoice/lib/tests/unit/test_textformat.py
Labels: Enhancement, Tests

#643 Remove unnecessary WSR-specific code
  _caster.py
  castervoice/lib/ctrl/nexus.py
  castervoice/lib/ctrl/wsrdf.py
  castervoice/lib/dfplus/state/stack.py
Labels: Enhancement, Windows Speech Recognition

#644 Bring me docs
  docs/CasterQuickReference.tex
  docs/readthedocs/Bringme.md
Labels: Documentation, Enhancement

#652 Changed output of Retrieve() from Text to dragonfly Paste action
  castervoice/lib/temporary.py
Labels: Bug, Enhancement

#651 Added store and retrieve to gitter
  castervoice/apps/gitter.py
  docs/readthedocs/Application_Commands_Quick_Reference.md
Labels: Enhancement, Grammar

#648 Add back command descriptions and add pause time for "train word" command
  castervoice/apps/dragon.py
Labels: Dragon Naturally Speaking, Enhancement

#645 add grammar documentation template
  docs/readthedocs/GRAMMAR_DOCUMENTATION_TEMPLATE.md
Labels: Caster, Meta, New Feature

#654 Import from lib.imports in browser grammars
  castervoice/apps/browser/browser.py
  castervoice/apps/browser/browser_shared_commands.py
Labels: Aenea, Bug, Grammar

#660 Update selfmodrule.py
  castervoice/lib/dfplus/merge/selfmodrule.py
Labels: Complete, Enhancement

#601 add sequences of characters for the move commands only
  castervoice/lib/ccr/core/text_manipulation.py
  castervoice/lib/text_manipulation_functions.py
  docs/readthedocs/Text_Manipulation.md
Labels: Caster Core Spec, [WIP]

#659 fird -> firch
  castervoice/lib/ccr/core/nav.py
Labels: Caster Core Spec, Documentation Needed

#661 Add refresh method to mock ChainAlias and use test discovery on Travis
  .travis.yml
  castervoice/lib/tests/mocks.py
Labels: Bug, Tests

#662 add back sauce/dunce wally
  castervoice/lib/ccr/core/nav.py
Labels: Bug

#663 Use testrunner for Travis
  .travis.yml
  castervoice/lib/tests/testrunner.py
Labels: Tests

#618 Add automatic installation script for classic install
  docs/Installation.md
  install.bat
Labels: Installation, New Feature, Roadmap

#656 MarkDown CCR: Added store and retrieve
  castervoice/lib/ccr/markdown/markdown.py
Labels: Caster Core Spec, Enhancement

#655 Added Python CCR store and retrieve features
  castervoice/lib/ccr/python/python.py
Labels: Caster Core Spec, Complete
