Repository dictation-toolbox/Caster, pull requests merged in 2020-02, with the labels that each got.

#735 Only trigger alias GUI without a defined alias spec
  castervoice/rules/ccr/recording_rules/alias/base_alias.py
Labels: 1.0.0 Rewrite, BugFix

#734 `again do`command set index 2 for last utterance
  castervoice/rules/ccr/recording_rules/again.py
Labels: 1.0.0 Rewrite, BugFix

#736 Replace VirtualDesktopAccessor with pyvda
  MANIFEST.in
  castervoice/bin/VirtualDesktopAccessor32.dll
  castervoice/bin/VirtualDesktopAccessor64.dll
  castervoice/lib/utilities.py
  castervoice/lib/windows_virtual_desktops.py
  castervoice/rules/core/navigation_rules/nav2.py
  castervoice/rules/core/navigation_rules/window_mgmt_rule.py
  castervoice/rules/core/utility_rules/window_mgmt_rule.py
  docs/LICENSE.md
  requirements-dev.txt
  requirements.txt
  setup.py
Labels: BugFix, Caster Core Spec, Complete

#737 Separate core grammars into unit test
  tests/rules/ccr/test_rule_modules.py
  tests/rules/core/__init__.py
  tests/rules/core/test_rule_modules.py
Labels: Tests

#739 Pass-through text formatting commands
  castervoice/lib/textformat.py
  castervoice/rules/core/navigation_rules/nav.py
  tests/lib/test_textFormat.py
Labels: Caster Core Spec, Enhancement

#740 add command for capitalization
  castervoice/rules/core/text_manipulation_rules/text_manipulation.py
  castervoice/rules/core/text_manipulation_rules/text_manipulation_support.py
  docs/readthedocs/Text_Manipulation.md
Labels: Caster Core Spec, New Feature

#742 Simplify grammar manager error messages.
  castervoice/lib/ctrl/mgr/grammar_manager.py
Labels: Caster, Enhancement

#745 Error handling for stale .pyc files
  castervoice/lib/ctrl/mgr/rule_details.py
Labels: BugFix, Revisit Implementation

#752 Clear Caster status window enhancements
  castervoice/lib/utilities.py
Labels: Caster, Enhancement, GUI

#753 Unified reboot command
  CasterQuickReference.pdf
  castervoice/lib/utilities.py
  castervoice/rules/apps/speech_engine/dragon_rules/dragon.py
  castervoice/rules/core/utility_rules/caster_rule.py
  docs/CasterQuickReference.pdf
  docs/CasterQuickReference.tex
  docs/readthedocs/Application_Commands_Quick_Reference.md
Labels: Caster, Enhancement

#722 Preliminary Python 3 Support
  .gitignore
  .travis.yml
  castervoice/asynch/hmc/hmc_ask_directory.py
  castervoice/asynch/hmc/hmc_confirm.py
  castervoice/asynch/hmc/hmc_recording.py
  castervoice/asynch/hmc/homunculus.py
  castervoice/asynch/mouse/grids.py
  castervoice/asynch/mouse/legion.py
  castervoice/asynch/settingswindow.py
  castervoice/asynch/sikuli/server/xmlrpc_server.sikuli/xmlrpc_server.py
  castervoice/lib/available_commands_tracker.py
  castervoice/lib/context.py
  castervoice/lib/ctrl/dependencies.py
  castervoice/lib/ctrl/mgr/validation/combo/treerule_validator.py
  castervoice/lib/ctrl/updatecheck.py
  castervoice/lib/dev/__init__.py
  castervoice/lib/github_automation.py
  castervoice/lib/merge/ccrmerging2/ccrmerger2.py
  castervoice/lib/merge/ccrmerging2/transformers/text_replacer/text_replacer.py
  castervoice/lib/merge/communication.py
  castervoice/lib/merge/mergerule.py
  castervoice/lib/merge/state/stack.py
  castervoice/lib/navigation.py
  castervoice/lib/settings.py
  castervoice/lib/utilities.py
  castervoice/rules/ccr/prolog_rules/prolog.py
  castervoice/rules/ccr/recording_rules/bringme.py
  castervoice/rules/core/punctuation_rules/punctuation_support.py
  castervoice/rules/core/text_manipulation_rules/text_manipulation_support.py
  castervoice/rules/core/utility_rules/caster_rule.py
  requirements-dev.txt
  tests/complexity.py
  tests/lib/merge/selfmod/tree_rule/test_treeNode.py
  tests/lib/util/test_biDiGraph.py
Labels: Caster, WIP

#751 Some tweaks to the rust grammars
  castervoice/rules/ccr/rust_rules/rust.py
  castervoice/rules/ccr/rust_rules/rust2.py
  docs/readthedocs/CCR_languages_Quick_Reference.md
Labels: Enhancement, Grammar

#757 Add support for JetBrains Rider
  castervoice/rules/apps/editor/jetbrains.py
Labels: Grammar

#755 Enhancements for VSCode Grammar
  castervoice/rules/apps/editor/vscode_rules/vscode.py
  castervoice/rules/apps/editor/vscode_rules/vscode2.py
  docs/readthedocs/Application_Commands_Quick_Reference.md
Labels: Enhancement, Grammar

#750 Add command for alt-click for VS code
  castervoice/rules/apps/editor/vscode_rules/vscode2.py
  docs/readthedocs/Application_Commands_Quick_Reference.md
Labels: Grammar

#759 Re-implemented on error show window using hooks
  _caster.py
  castervoice/lib/ctrl/mgr/grammar_manager.py
  castervoice/lib/merge/ccrmerging2/hooks/events/event_types.py
  castervoice/lib/merge/ccrmerging2/hooks/events/on_error_event.py
  castervoice/lib/merge/ccrmerging2/hooks/standard_hooks/show_window_on_error_hook.py
  castervoice/lib/settings.py
Labels: Enhancement, Refactor
