Repository dictation-toolbox/Caster, pull requests merged in 2020-11, with the labels that each got.

#861 configure user directory
  castervoice/lib/settings.py
  docs/readthedocs/User_Dir/Caster_User_Dir.md
Labels: Caster, New Feature

#864 Add ability to prefix 'numb' command with 'long' to surround with spaces
  CasterQuickReference.pdf
  castervoice/rules/core/numbers_rules/numeric.py
  docs/CasterQuickReference.pdf
  docs/CasterQuickReference.tex
Labels: Caster Core Spec, Enhancement

#865 cross platform os functions
  castervoice/lib/contexts.py
Labels: Caster

#867 Replace Travis with Github Actions
  .github/workflows/pythonpackage.yml
  .travis.yml
  castervoice/asynch/hmc/hmc_ask_directory.py
  castervoice/asynch/hmc/hmc_confirm.py
  castervoice/asynch/hmc/hmc_recording.py
  castervoice/asynch/hmc/homunculus.py
  castervoice/asynch/mouse/grids.py
  castervoice/lib/merge/state/stack.py
Labels: Caster, Tests
