Repository dictation-toolbox/Caster, pull requests merged in 2020-10, with the labels that each got.

#853 Implemented microphone modes
  CasterQuickReference.pdf
  castervoice/lib/const.py
  castervoice/lib/ctrl/configure_engine.py
  castervoice/lib/ctrl/mgr/engine_manager.py
  castervoice/lib/ctrl/nexus.py
  castervoice/rules/apps/speech_engine/dragon_rules/dragon.py
  castervoice/rules/core/engine_manager_rules/mic_rules.py
  docs/CasterQuickReference.pdf
  docs/CasterQuickReference.tex
Labels: Caster, Caster Core Spec, New Feature

#854 Add Atlassian Jira rule
  castervoice/rules/apps/atlassian/__init__.py
  castervoice/rules/apps/atlassian/jira.py
  docs/readthedocs/Caster_Commands/Application_Commands_Quick_Reference.md
  tests/rules/apps/test_rule_modules.py
Labels: Grammar, New Feature

#856 Implemented mic sleep timer
  castervoice/lib/ctrl/configure_engine.py
  castervoice/lib/ctrl/mgr/engine_manager.py
  castervoice/lib/settings.py
Labels: New Feature

#855 Bringme Prep Linux
  castervoice/lib/utilities.py
Labels: Linux OS

#858 kaldi default mic state "on" for sleep_timer
  castervoice/lib/ctrl/configure_engine.py
Labels: BugFix, Caster, Kaldi

#860 Added multimedia keyboard controls
  castervoice/lib/navigation.py
  castervoice/rules/core/utility_rules/hardware_rule.py
  docs/CasterQuickReference.pdf
  docs/CasterQuickReference.tex
Labels: Caster Core Spec, New Feature

#839 Fix Legion for Python 3
  castervoice/asynch/mouse/legion.py
  castervoice/lib/gdi.py
  castervoice/rules/apps/mouse_grids/gridlegion.py
Labels: BugFix, MouseGrids

#859 Add new keyboard emulator commands
  castervoice/lib/const.py
  castervoice/rules/ccr/voice_dev_commands_rules/voice_dev_commands.py
  castervoice/rules/core/keyboard_rules/__init__.py
  castervoice/rules/core/keyboard_rules/keyboard.py
  castervoice/rules/core/navigation_rules/nav.py
  castervoice/rules/core/navigation_rules/navigation_support.py
  castervoice/rules/core/punctuation_rules/punctuation_support.py
  docs/readthedocs/Caster_Commands/Keyboard.md
  docs/readthedocs/Caster_Settings/rules.md
  mkdocs.yml
  tests/complexity.py
  tests/lib/merge/ccrmerging2/test_CCRMerger2.py
  tests/lib/merge/ccrmerging2/transformers/text_replacer/test_textReplacerTransformer.py
Labels: Caster Core Spec, Grammar
