Repository dictation-toolbox/Caster, pull requests merged in 2021-01, with the labels that each got.

#871 Fix Grids could be called multiple times
  castervoice/lib/navigation.py
Labels: BugFix, MouseGrids

#869 add missing keyboard keys
  castervoice/rules/core/keyboard_rules/keyboard.py
Labels: BugFix, Caster Core Spec

#870 fix cws bug
  castervoice/rules/core/keyboard_rules/keyboard.py
Labels: BugFix, Caster Core Spec

#874 Add missing keyboard keys
  castervoice/rules/core/keyboard_rules/keyboard.py
Labels: BugFix, Caster Core Spec

#875 add mic_sleep_timer_toggle
  castervoice/lib/ctrl/configure_engine.py
  castervoice/lib/settings.py
  docs/readthedocs/Caster_Settings/settings.md
Labels: Caster, New Feature
